#reset-password p {
	position: relative;
}

#password-icon {
	top: 20px;
}

/* Show password toggle */
#password-show {
	position: absolute;
	right: 1em;
	top: .8em;
	float: right;
}
#password-show {
	display: none;
}
#password-show + label {
	right: 21px;
	top: 20px !important;
	margin: -14px !important;
	padding: 14px !important;
}
#password-show:checked + label {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80) !important;
	opacity: .8 !important;
}
#password-show + label {
	position: absolute !important;
	height: 20px !important;
	width: 24px;
	background-image: url("../../img/actions/toggle.png");
	background-repeat: no-repeat;
	background-position: center;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30) !important;
	opacity: .3 !important;
}
#password, input[name="password-clone"] {
    width:197px !important;
    padding-right:36px !important;
}