[submodule "3rdparty"]
	path = 3rdparty
	url = git://github.com/owncloud/3rdparty.git
[submodule "apps-git"]
	path = apps-git
	url = git://github.com/owncloud/apps.git
	branch = stable6
[submodule "apps/login_logger"]
	path = apps/login_logger
	url = https://claus@rotdrop.dyndns.org:8888/git/login_logger.git
	branch = owncloud6-app
[submodule "apps/myself_contact"]
	path = apps/myself_contact
	url = https://claus@rotdrop.dyndns.org:8888/git/myself_contact.git
	branch = owncloud6-app
[submodule "apps/dokuwikiembed"]
	path = apps/dokuwikiembed
	url = https://github.com/rotdrop/ocapp-dokuwikiembed.git
	branch = owncloud6-app
[submodule "apps/dokuwiki"]
	path = apps/dokuwiki
	url = https://github.com/rotdrop/owncloudapp-dokuwiki.git
	branch = owncloud6-app
[submodule "apps/cafevdb"]
	path = apps/cafevdb
	url = https://claus@rotdrop.dyndns.org:8888/git/cafevdb.git
	branch = owncloud6-app
[submodule "apps/calendar"]
	path = apps/calendar
	url = https://github.com/owncloud/calendar.git
	branch = stable6
[submodule "apps/contacts"]
	path = apps/contacts
	url = https://github.com/owncloud/contacts.git
	branch = stable6
[submodule "apps/documents"]
	path = apps/documents
	url = https://github.com/owncloud/documents.git
	branch = stable6
